*{
    margin: 0px;
    box-sizing: border-box;   
}
body{
    font-family:"Roboto"; 
    background-color:#fff; 
    overflow-x: hidden;   
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
:root{    
    --mainColor: rgb(60 13 153);
    --whiteColor: #ffffff;
    --blackColor: #212529;
    --lightblackColor: rgb(74 85 104);
    --secondcolor: rgb(203 213 224);
    --paraColor: rgb(124 139 161);
    --wordColor: #243e63;
    --optioncolor:  rgb(226, 232, 240);
    --buttoncolor:rgb(100 21 255);
    --hovercolor:rgb(80 17 204);
}
.fixed-header{
    background-color: #fff;
    position: fixed;
    padding-top: 0%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: inline-block;
    z-index: 999;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}
/*=========================================*/
.navbar{
    transition: all 0.5S;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
}
.navbar-brand span{
    letter-spacing:1px;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--wordColor);
    transition: all 0.5s;
}
.navbar-brand span:hover{
    color: var(--buttoncolor);
}
header .nav-link{
    color: var(--blackColor);
    transition: all 0.5s;
}
header .nav-link:hover{
    color: var(--buttoncolor);
    border-bottom: 2px solid var(--buttoncolor);
}
header ul button{
    border-radius: 9999px;
    border: none;
    border-bottom-width: 0px;
    background-color:var(--buttoncolor);
    padding: 8px 32px 8px 32px;
    color:var(--whiteColor);
    margin-left: 168px;
    transition: all 0.5s;
}
header ul button:hover{
    background-color:var(--hovercolor) ;
}
.navbar-nav{
    margin-left: 120px;
}
/*===========================================*/
.work{
    margin-top: 5%;
    padding-bottom: 70px;
    position: relative;
}
.work-box{    
    padding-top: 30px;
    margin-left: 5%;
}
.work-box h2{
    text-align: left;
    line-height: 1.375;
    color:var(--mainColor);
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.025em;
}
.work-box p{
    margin-top: 1rem;
    max-width: 81%;
    color:var(--lightblackColor);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625;
}
.work-img img{
    z-index: 20;
    width: 21rem;
    border-radius: 0.25rem;
    height: 30rem;
    margin-left: 20%;
    margin-top: -2%;
}
.work button{
    border-radius: 9999px;
    border: none;
    border-bottom-width: 0px;
    background-color:var(--buttoncolor);
    color:var(--whiteColor);
    padding: 18px 60px 18px 60px;
    margin-left: 5%;
    margin-top: 2%;
    transition: all 0.5s;
}
.work button:hover{
    background-color: var(--hovercolor);
}
.sla li{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: -2.5%;
    letter-spacing: 0.5px;
}
.sla p{
    margin-left:3%;
    margin-top: 2%;
    font-weight: 500;
    color:var(--lightblackColor);
}
.sla i{
    height: 1.25rem;
    width: 1.25rem;
    color: var(--mainColor);
}
.sla  .fa-check-to-slot{
    font-size: 22px;
}
.work-img .fixing{
    position: absolute;
    top: 43.7%;
    left: -3%;
    right: 21%;
}
.work-img .chokhtu{
    max-width: 24rem;
    background-color:var(--mainColor);
    z-index: 20;
    max-width: 68%;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding: 1.5rem 2rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    color: var(--secondcolor);
}
.work-img .chokhtu p:nth-child(1){
    max-width: 82%;
}
.work-img .chokhtu p:nth-child(2){
    font-weight:600;
    margin-bottom: 2%;
}
/*===========================================*/
.purple{
    height: auto;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 150px;
    width: 100%;
}
.purple .main{
    max-width: 100%;   
    margin: 0 auto;
    background-color: var(--mainColor);
    padding-bottom: 2%;
}
.purple .head h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.025em;
    color:var(--whiteColor);
    padding-top: 1%;
}
.purple .head p{
    margin-left: auto;
    margin-right: auto;
    max-width: 653px;
    text-align: center;
    color:var(--secondcolor);
    padding-top: 2%;
    font-size: 1.125rem;
}
.purple .main .fix{
    max-width: 763px;
    margin: 0 auto;
    padding-bottom:0;
}
.purple .col-4{
    font-size: 1.125rem;
    margin-top: 1rem;
    max-width: 18rem;
    font-weight: 500;
    line-height: 1.625;
    color:var(--whiteColor);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.025em;
    padding-bottom: 10%;
}
.purple .col-4 .pelu{
    font-size: 3rem;
    font-weight: 900;
}
.purple .col-4 .biju{
    font-size: 1.25rem;
    font-weight: 500;
}
/*===========================================*/
.Tools{ 
    margin-top: -9%;  
    position: relative;
}
.Tools-info{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.Tools-info h6{
    color: var(--buttoncolor);
    text-transform: capitalize;
    letter-spacing: 0.5px;   
}
.Tools-info h2{
    color: var(--wordColor);
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 2%;
}  
.Tools-info h2 span{
    color: var(--buttoncolor);
}
.Tools-info p{
    margin-top: 2%;
    line-height: 28px;
    color: var(--paraColor);
    font-weight: 300px;
    font-size: 1.125rem;
    max-width: 517px;
    margin: 0 auto;
    margin-top: 2%;
    letter-spacing: 0.025px;
}
.Tools .col-4  {
    padding: 13px 13px;
    padding-bottom: 13px;
    letter-spacing: 0.0025em;
} 
.features img{   
    height: 1.5rem;
    width: 1.5rem;
}
.features .border{
    width:60px;
    height:60px;
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    border-color: rgb(226, 232, 240);
    margin-left: 13%;
    padding: 16px 28px 1px 13px;
    margin-top: 10%;
}
.features .imageContiner{
    border-radius: 9999px;
    border-color: rgb(87, 97, 111);
    border-width: 4px;
    padding: 20%;
    text-align: center;
}
.features h2{
    color: var(--wordColor);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
    padding-left: 36%;
    margin-top: -15%;
}
.features .mar{
    font-size: 16px;
    color: var(--paraColor);
    text-align: start;
    font-weight: 500;
    max-width: 189px;
    line-height: 2;
    margin-left: 36%;
}
.features p{
    margin-top: 20px;
    margin-bottom: 1rem;
}
/*===========================================*/
.value{
    margin-top: 15%;
    padding-bottom: 70px;
    position: relative;
}
.value-box{    
    padding-top: 30px ;
}
.value-box .qua{
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    color: var(--buttoncolor); 
}
.value .value-box h2{
    color: var(--wordColor);
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 19px;
    margin-top: 20px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.025em;
}
.value .value-box h2 span{
    color: var(--buttoncolor);
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1px;
}
.value-box p{
    margin-bottom: 2rem;
    line-height: 28px;
    color: var(--paraColor);
    font-weight: 900px;
    font-size: 1.125rem;
    max-width: 494px;
}
.Abide h5{
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3%;
    letter-spacing: 1px;
}
.Abide p{
    margin-top: 1rem;
    line-height: 1.625;
    color:var(--paraColor);
    font-size: 16px;
    text-align: left;
}
.value-img img{
    text-align: center; 
    width: 100%;  
    height: 100%;    
}
.value-img{
    margin-top: 6%;
}
.value .fa-dollar-sign{
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    padding: 10px 13px 10px 13px;
    background-color: rgb(254 178 178);
    color: rgb(155 44 44);
}
.value .fa-suitcase{
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    padding: 10px 15px 9px 10px;
    background-color: rgb(129 230 217);
    color: rgb(40 94 97);
}
.value button{
    border-radius: 9999px;
    border: none;
    border-bottom-width: 0px;
    background-color:var(--buttoncolor);
    color:var(--whiteColor);
    padding: 0.75rem 2rem;
    margin-top: 3%;
    transition: all 0.5s;
}
.value button:hover{
    background-color: var(--hovercolor);
}
/*===========================================*/
.Testimonials{
    margin-top: 21%;
}
.Testimonials .Testimonials-box{
    margin-top:-19%;
}
.Testimonials-box .qua{
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    color: var(--buttoncolor);    
    margin-left: 36px; 
}
.Testimonials .Testimonials-box h2{
    color: var(--wordColor);
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 19px;
    margin-top: 20px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.025em;
    margin-left: 36px;
}
.swiper-slide i{
    color: rgb(246 173 85);
}
.swiper-slide h5{
    margin-top: 19px;
}
.swiper-slide p{
    margin-top: 19px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(74 85 104);
}
.swiper{
    margin-left: 39px;
}
.swiper-slide img{
    height: 5rem;
    width: 5rem;
    border-radius: 9999px;
    margin-top: 23px;
}
.swiper-slide .col-4:last-child{
    margin-left: -79px;
    margin-top: 22px;
}
.swiper-slide .col-4:last-child h5{
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.para p{
    color: var(--paraColor);
    letter-spacing: 0.5px;
    margin-top: -5px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 43px;
    left: 130px;
    width: 100%;
}
.Testimonials .Testimonials-box h2 span{
    color: var(--buttoncolor);
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1px;
}
.Testimonials-box p{
    margin-bottom: 2rem;
    line-height: 28px;
    color: var(--paraColor);
    font-size: 1.125rem;
    max-width: 494px;
    margin-left: 39px;
}
.slide .btn-light{
    color: var(--mainColor);
    margin-top: -105px;
    margin-left: 15px;
    z-index: -1;
}
.Testimonials .slide{
    margin-left: 369px;
}
/*===========================================*/
.pricing .button{
    margin-top: -1%;
    max-width: 20rem;
    border-radius: 9999px;
    border: 2px solid rgb(226, 232, 240);
    padding: 0.25rem;
    margin-left: 38%;
}
.pricing .b-1{
    width: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 9999px;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    background-color:var(--buttoncolor);
    color:var(--whiteColor);
    border: none;
    letter-spacing: 0.5px;
}
.pricing .b-2{
    width: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 9999px;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: rgb(74 85 104);
    border: none;
    letter-spacing: 0.5px;
    background-color: transparent;
}
.pricing .first {
    position: relative;
    height: auto;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 18rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color:var(--whiteColor);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: 0 20px 50px rgba(0,0,0,0.075);
}
.pricing .uper {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;;
    background-color: rgb(247 250 252);
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}
.pricing .uper .price {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 3rem;
    font-weight: 700;
}
.pricing .uper .slash {
    font-size: 1.25rem;
    color: rgb(160 174 192);
}
.pricing .uper .duration {
    font-weight: 500;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    color: rgb(160 174 192);
}
.pricing .uper .name {
    font-size: 1.25rem;
    font-weight: 700;
}
.pricing .uper .mainFeature {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: rgb(160 174 192);
}
.pricing .lower {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 2rem;
    font-size: 0.875rem;
    height: auto;
}
.pricing .lower .feature {
    margin-top: 1.25rem;
    font-weight: 500;
    color: rgb(160 174 192);
}
.second .boot{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.first .book-2{
    padding-left: 1rem;
    padding-right: 1rem;    
}
.pricing .but:hover{
    box-shadow:0 0 #0000,0 0 #0000,0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
    transform:translateX(1px) translateY(-1px);
    background-color: var(--hovercolor);
}
.pricing .but{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    border-radius: 9999px;
    border: none;
    background-color:var(--buttoncolor);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 0.5s;
}
.pricing .but-1{
    margin-bottom: 40%;
}
.pricing .second{
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 18rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: rgb(26 32 44);
    border: 2px solid rgb(237 242 247);
    box-shadow:0 0 #0000,0 0 #0000;
}
/*===========================================*/
.any{
    margin-top: 10%;
    margin-bottom: 9%;
}
.any-info{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.any-info h6{
    color: var(--buttoncolor);
    text-transform: capitalize;
    letter-spacing: 0.5px;   
}
.any-info h2{
    color: var(--wordColor);
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 2%;
}  
.any-info h2 span{
    color: var(--buttoncolor);
}
.any-info p{
    margin-top: 2%;
    line-height: 28px;
    color: var(--paraColor);
    font-weight: 300px;
    font-size: 1.125rem;
    max-width: 517px;
    margin: 0 auto;
    margin-top: 2%;
    letter-spacing: 0.025px;
}
.faqs{
    position: relative;
    margin-top: 3rem;
    max-width: 56rem;
    margin: 0 auto;
}
.accordion-button span{
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 20px;
}
.accordion-body span{
    font-size: 17px;
    line-height: 1.625;
    letter-spacing: 0.5px;
}
.accordion-item{
    border: none;
    background-color: rgb(226 232 240);  
}
.accordion-header{
    border: none;
    background-color: rgb(237 242 247);
    border-radius: 20px;
}
.accordion-button{
    background-color: rgb(237 242 247);
    transition: all 0.5s;
}
.accordion-button:hover{
    background-color: rgb(226 232 240);
}
.accordion-body{
    border-radius: 20px;
    margin-left: 20px;
    font-weight: 200;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: var(--blackColor);
    background-color: rgb(237 242 247);   
    transition: all 0.5s; 
}
.accordion-button:not(.collapsed):hover{
    background-color: rgb(226 232 240);
}
.faqs .accordion-button:focus{
    border: none;
    background-color:none ;
    box-shadow: none;
}
/*===========================================*/ 
.Blog{
    margin-top: 10%;
}
.Blog-info{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.Blog-info h6{
    color: var(--buttoncolor);
    text-transform: capitalize;
    letter-spacing: 0.5px;   
    font-weight: 600;
}
.Blog-info h2{
    color: var(--wordColor);
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 6%;
    font-weight: 900;
}  
.Blog-info h2 span{
    color: var(--buttoncolor);
}
.post .col-lg-4:first-child img{
    height: 435px;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.post .col-lg-4:nth-child(2){
    height: 435px;
    background-color: rgb(237 242 247);
    margin-left: -12px;
    padding-left: 43px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.post h6{    
    font-size: 1.5rem;
    color: var(--wordColor);
    font-weight: 700;
    margin-top: 28%;
    max-width: 318px;
    line-height: 29px;
}
.post p{
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    max-width: 309px;
    color: var(--paraColor);
}
.about img{
    height: 3rem;
    width: 3rem;
    border-radius: 9999px;
    margin-top: 23px;   
}
.about{
    margin-top: -3%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.words{
    margin-left: 5%;
    margin-top: 5%;
}
.name{
    margin-top: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--lightblackColor);
}
.info{
    padding-top: 0.25rem;
    font-weight: 500;
    font-size: 0.75rem;
    color:var(--paraColor);
}
.post .col-lg-4{
    transition: all 0.5s;
}
.post .col-lg-4:nth-child(3) img{
    width: 100%;
    height: 20rem;  
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
}
.post .col-lg-4:nth-child(4) img{
    width: 100%;
    height: 20rem;
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
}
.post .col-lg-4:nth-child(5) img{
    width: 100%;
    height: 20rem;
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
}
.post .col-lg-4:nth-child(6) img{
    width: 100%;
    height: 20rem;
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
}
.post .col-lg-4:nth-child(6){
    margin-left: -1%;
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
}   
.post .tony{
    margin-top: -24%;
    background-color: rgb(237 242 247);
    padding: 20px 11px;
    border-bottom-left-radius: 0.25rem; 
    border-bottom-right-radius: 0.25rem; 
}
.post .tony-2{
    margin-top: -24%;
    background-color: rgb(237 242 247);
    padding: 37px 21px;
}
.post .tony h6{
    font-size: 17px;
    letter-spacing: 0.5px;
    color: var(--wordColor);
    font-weight: 600;
    margin-top: 26%;
    margin-left: 2%;
    max-width: 316px;
    line-height: 29px;
}
.post .tony p{
    margin-top: -1%;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.625;
    max-width: 309px;
    margin-left: 2%;
    color: var(--paraColor);
}
.post .col-lg-4 h6:hover{
    color: var(--buttoncolor);
}
/*===========================================*/ 
.lightpink{
    width: 1200px;
    height: 270px;
    background-color: rgb(233 216 253);
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 150px;
    margin-bottom: 199px;
}
.lightpink h6{
    font-size: 34px;
    font-weight: 500;
    color: var(--buttoncolor);
    letter-spacing: 0.5px;
    line-height: 45px;
    margin-top: 16%;
    margin-left: 13%;   
}
.lightpink h5{
    font-size: 34px;
    font-weight: 700;
    color: var(--buttoncolor);
    letter-spacing: 0.5px;
    line-height: 45px;
    margin-top: -1%;
    margin-left: 11%;    
}
.lightpink .blue{
    border-radius: 0.25rem;
    border: none;
    background-color:var(--buttoncolor);
    color:var(--whiteColor);
    padding: 1.25rem 3rem;
    margin-top: 18%;
    margin-left: 14%;
    transition: all 0.5s;
}
.lightpink .blue:hover{
    background-color: var(--hovercolor);
}
.lightpink .white{
    border: none;
    background-color: var(--whiteColor);
    border-radius: 0.25rem;
    color:var(--buttoncolor);
    padding: 1.25rem 3rem;
    margin-top: 18%;
    margin-left: 5%;
    transition: all 0.5s;
}
.lightpink .white:hover{
    background-color: rgb(237 242 247);
}
/*===========================================*/
footer{
    width: 100%;
    height: auto;
    background-color: rgb(237 242 247);
}
.main{
    position: relative;
    margin-bottom: -2rem;
    padding: 5rem 2rem;
    color: rgb(247 250 252);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.mk{
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.nk{
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: -3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.nk .col-3{
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 3rem;
}
.form{
    max-width: 24rem;
    margin-top: 4%;
}
.nk h5{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    color: var(--lightblackColor);
}
.nk .pre{
    margin-left: 10%;
}
.nk .leg{
    margin-left: -8%;
}
.main ul{
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: -31%;
}
.main li{
    margin-top: 0.75rem;
}
.main a{
    border-bottom-width: 2px;
    border-color: transparent;
    padding-bottom: 0.25rem;
    color: var(--lightblackColor);
    letter-spacing: 0.5px;
    transition: all 0.2s;
}
.main a:hover{
    border-bottom: 2px solid var(--lightblackColor);
}
.form p{
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--paraColor);
}
.form form{
    margin-top: 1.5rem;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    font-size: 0.875rem;
}
.form input::placeholder{
    color: rgb(203 213 224);
}
.form input:hover{
    border-color: var(--buttoncolor);
}
.form input{
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right-width: 0px;
    width: 100%;
    border: 2px solid rgb(203 213 224);
    background-color: rgb(226 232 240);
    padding: 0.75rem 1.5rem;
    color:rgb(203 213 224);
    transition: all 0.5s;
}
.form button{
    margin-top: 0px;
    width: auto;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.75rem 2rem;
    border: none;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 0.5s;
}
.form button:hover{
    background-color: var(--hovercolor);
}
.mk .boder{
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    border: 1px solid;
    border-color: rgb(226 232 240);
}
.mk img{
    width: 2rem;
}
.last h5{
    margin-top: -7%;
    margin-left: 2.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--blackColor);
}
.last p{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: rgb(160 174 192);
    letter-spacing: 0.5px;
}
.last a{
    margin-right: 1.25rem;
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    background-color: rgb(6, 8, 14);
    padding: -0.5rem;
    color: rgb(247 250 252);
    text-align: end;
    transition: all 0.5s;
}
.last a:hover{
    background-color: rgb(74 85 104);
}
.last .icon{
    margin-left: 50%;
}
.last .icon .fa-facebook-f{
    padding: 9px 13px 3px 13px;
}
.last .icon .fa-twitter{
    padding: 9px 9px 6px 11px;
}
.last .icon .fa-youtube{
    padding: 9px 10px 7px 10px;
}
/*===========================================*/
/* .mmm3:hover h6{
    color: var(--mainColor);
} */
.post .col-lg-4 .mmm3 img:hover h6{
    color: var(--mainColor);
}